<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a routerLink="dashboard" class="navbar-brand">Smart School</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a routerLink="alunos" class="nav-link" routerLinkActive="active">Alunos</a>
                </li>
                <li class="nav-item">
                    <a routerLink="professores" class="nav-link" routerLinkActive="active">Professores</a>
                </li>
            </ul>
            <ul class="navbar-nav" dropdown>
                <li class="nav-item dropdown">
                    <a id="button-basic" dropdownToggle class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Vinícius</a>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="perfil">Perfil</a></li>
                        <li><a class="dropdown-item" href="#">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>