<div *ngIf="alunoSelecionado">
    <div class="row row-cols-lg-auto align-items-center justify-content-between mt-1">
        <div class="">
            <app-titulo [titulo]="'Aluno: ' + alunoSelecionado.id"></app-titulo>
        </div>
        <div class="">
            <button class="btn btn-warning" (click)="voltar()">Lista de Alunos</button>
        </div>
    </div>

    <form>
        <div class="form-group">
            <label for="formGroupExampleInput">Nome</label>
            <input type="text" value="{{alunoSelecionado.nome}}" class="form-control">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Sobrenome</label>
            <input type="text" value="{{alunoSelecionado.sobrenome}}" class="form-control">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Telefone</label>
            <input type="text" value="{{alunoSelecionado.telefone}}" class="form-control">
        </div>
    </form>
</div>

<div *ngIf="!alunoSelecionado">
    <app-titulo [titulo]="titulo"></app-titulo>

    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Telefone</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let aluno of alunos" style="cursor: pointer;" (click)="alunoSelect(aluno)">
                <th scope="row">{{aluno.id}}</th>
                <td>{{aluno.nome}}</td>
                <td>{{aluno.sobrenome}}</td>
                <td>{{aluno.telefone}}</td>
            </tr>
            <tr>
        </tbody>
    </table>
</div>