<div *ngIf="professorSelecionado">
    <app-titulo [titulo]="'Professor:' + professorSelecionado"></app-titulo>
    <button class="btn btn-default" (click)="voltar()">Voltar</button>
</div>


<div *ngIf="!professorSelecionado">
    <app-titulo [titulo]="titulo"></app-titulo>

    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Disciplina</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let professor of professores" style="cursor: pointer;" (click)="professorSelect(professor)">
                <th scope="row">{{professor.id}}</th>
                <td>{{professor.nome}}</td>
                <td>{{professor.disciplina}}</td>
            </tr>
            <tr>
        </tbody>
    </table>
</div>