<div *ngIf="professorSelecionado">
    <div class="row row-cols-lg-auto align-items-center justify-content-between mt-1">
        <div class="">
            <app-titulo [titulo]="'Professor: ' + professorSelecionado.id"></app-titulo>
        </div>
        <div class="">
            <button class="btn btn-warning" (click)="voltar()">Lista de Professores</button>
        </div>
    </div>

    <form>
        <div class="form-group">
            <label for="formGroupExampleInput">Nome</label>
            <input type="text" value="{{professorSelecionado.nome}}" class="form-control">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Disciplina</label>
            <input type="text" value="{{professorSelecionado.disciplina}}" class="form-control">
        </div>
    </form>
</div>


<div *ngIf="!professorSelecionado">
    <app-titulo [titulo]="titulo"></app-titulo>

    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>Visualizar</th>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Disciplina</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let professor of professores">
                <td>
                    <button (click)="professorSelect(professor)" class="text-dark btn btn-sm btn-outline-warning">
                        Detalhe
                    </button>
                </td>
                <th scope="row">{{professor.id}}</th>
                <td>{{professor.nome}}</td>
                <td>{{professor.disciplina}}</td>
                <td>
                    <div class="btn-group">
                        <button (click)="openModal(template)" class="btn btn-sm btn-outline-primary">
                            alunos
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
        </tbody>
    </table>
</div>

<ng-template #template>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn pull-right" aria-label="Close" (click)="modalRef?.hide()">FECHAR
          </button>
    </div>
</ng-template>